.live2d-widget-container {
  position: fixed !important;
  bottom: -80px !important;
  left: 0;
  width: 120px !important;
  height: 370px !important;
  transform: scaleY(0.6);
  pointer-events: auto !important;
  cursor: pointer;
  /* opacity: 0.4 !important; */
}
#live2d-widget {
  position: fixed; /* 确保定位 */
  left: 50px;
  bottom: 50px;
  cursor: grab;
  user-select: none;
  touch-action: none; /* 防止拖动时触发滚动 */
  z-index: 9999; /* 避免被其他元素覆盖 */
}